.container {
  // max-width: 960px;
  margin: auto;
}
h1 {
  margin-top: 20px;
}
nav {
  display: flex;
  flex-wrap: wrap;
}
nav a {
  margin-right: 12px;
  font-weight: 600;
  color: black;
  padding: 4px 8px;
  border-bottom: transparent 1px solid;
  text-decoration: none;
  & :hover {
    border-bottom: #fd841b 1px solid;
  }
}

nav a:hover {
  border-bottom: #fd841b 1px solid;
}
nav .router-link-active {
  color: #fd841b;
}

.meal-card {
  display: flex;
  flex: 2 1 auto;
  img {
    width: 100% !important;
  }
}
.meal-left-side {
  width: 40%;
  margin-right: 4%;
}
.meal-right-side {
  margin-top: 5%;
  width: 55%;
}
.meal-tags {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 40%;
  }
}
.meal-card div {
  margin-bottom: 20px;
}

.tag-item {
  padding: 4px 20px;
  background-color: #fd841b;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  margin-right: 20px;
}

.category-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.category-btns {
  margin-top: 20px;
  margin-right: 20px;

  width: fit-content;
  input {
    display: none;
  }
  label {
    padding: 8px 20px;
    background-color: white;
    border: #fd841b solid 1px;
    border-radius: 25px;
  }
  input[type="radio"]:checked + label {
    background-color: #fd841b !important;
    color: white !important;
  }
}
.category-meal-list {
  ul {
    list-style: none;
  }

  h3::after {
    content: "\1F4D9";
    display: inline-block;
    margin-left: 5px;
  }
  a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    display: flex;
    margin: auto;
    align-items: center;
    margin: 8px 0;
  }
  a:hover {
    color: #fd841b;
  }
  img {
    margin-right: 8px;
    max-width: 60px;
  }
}
.random-btn {
  margin-top: 20px;
  background-color: #fd841b;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid #fd841b;
  padding: 12px 20px;
}
.random-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #fd841b;
}
.zone-select {
  padding: 8px 20px;
  background-color: white;
  border: #fd841b solid 1px;
  border-radius: 25px;
  margin-left: 8px;
  margin-bottom: 20px;
}

select:focus {
  outline: none;
  box-shadow: 0 0 4px 1px #fd841b1b;
}

.spans-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.btns-meal {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.btn-youtube {
  text-decoration: none;
  margin-top: 20px;
  background-color: #ff0000;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid #ff0000;
  padding: 12px 20px;
}
.btn-youtube:hover {
  cursor: pointer;
  background-color: white;
  color: #ff0000;
}

.btn-credit {
  cursor: pointer;
  color: #fd841b;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.3rem;
  }
  .category-meal-list {
    li {
      width: 100%;
    }
  }

  .meal-card {
    display: block;
  }
  .meal-left-side {
    width: 100%;
    margin-right: 0%;
  }
  .meal-right-side {
    margin-top: 5%;
    width: 100%;
  }
  ul {
    li {
      width: 100%;
    }
  }
}
